{% extends "base.html" %}

{% block title %} загрузка и предсказание {% endblock %} 

{% block content %}

<br>

{% if not image %}
<div class="row">
    <div id="buttonzone">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="btn" type="submit">Детектировать мусор</button>
        </form>
    </div>
</div>
{% endif %}

<br>

{% if image %}
<div style="width:100%;">
    <table align=center>
        <thead>
            <tr>
                <th colspan="1" align=left style="color: white;">РЕЗУЛЬТАТ:</th>
            </tr>
        </thead>
        <tr>
            <td>
                <img src="{{ image }}" alt="Image with predictions" width="640">
                <br>
            </td>
        </tr>
    </table>
</div>
{% endif %}

{% endblock content %}
